<!-- 無くて良い機能 -->
<% provide(:title, 'ユーザー登録') %>
<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, 'ユーザー名* （ フルネームでご記入下さい ）' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, 'メールアドレス* （ 半角英数字でご記入下さい ）' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'パスワード* （ 6文字以上の半角英数字でご記入下さい ）' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 'パスワードの再入力*' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :postal_code, '郵便番号* （ 記入例: 1111111 ）' %>
      <%= f.password_field :postal_code, class: 'form-control' %>

      <%= f.label :address, '住所* （ 記入例: 東京都品川区3-1-1 品川ビル103号 ）' %>
      <%= f.password_field :address, class: 'form-control' %>

      <%= f.label :phone_number, '電話番号* （ 記入例: 034567847 ）' %>
      <%= f.password_field :phone_number, class: 'form-control' %>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
