<% provide(:title, "ホーム") %>

<h1 class='heading'>
  商品一覧
</h1>

<div class="list_items">
  <% @items.each do |item| %>
    <ul class="list_item">
      <li class="list_item__image"><%= gravatar_for item, size: 200 %></li>
      <li class="list_item__name"><%= link_to item.name, item, class: :list_item__name %><li>
      <li class="list_item__per_cost">価格: <%= item.per_cost %>円<li>
      <li class="list_item__stock_number">在庫数：<%= item.stock_number %><li>
    </ul>
  <% end %>
</div>


<div class="paging">
  <%= will_paginate %>
</div>
