<% provide(:title, @item.name) %>

<div class="row">
    <section class="user_info">
      <h1>
        <%= gravatar_for @item %>
      </h1>
      <h1>
        商品名: <%= @item.name %>
      </h1>
      <h1>
        商品単価: <%= @item.per_cost %>
      </h1>
      <h1>
        在庫数: <%= @item.stock_number %>
      </h1>
      <h1>
        商品詳細: <%= @item.description %>
      </h1>
    </section>
</div>
