<header class="header-container">
  <div class="header-wrapper">

    <h1 class="site-name">発達サポートnavi</h1>

    <ul class="header-menu">
      <% if logged_in? %>
        <li class="header-button"><%= link_to "ホーム", root_path %></li>
        <li class="header-button"><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <li class="header-button"><%= link_to "カート商品", '#' %></li>
        <li class="header-button"><%= link_to "注文履歴", '#' %></li>
       <% else %>
         <li class="header-button"><%= link_to "ホーム", root_path %></li>
         <li class="header-button"><%= link_to "ログイン", login_path %></li>
         <li class="header-button"><%= link_to "カート商品", '#' %></li>
         <li class="header-button"><%= link_to "注文履歴", '#' %></li>
       <% end %>
    </ul>

  </div>
</header>
