<header class="header-container">
  <div class="header-wrapper">

    <!-- 最上部のロゴ -->
    <h1 class="site-name">発達サポートnavi</h1>

    <!-- 最上部の右サイドボタン（ホーム、ログイン、カート商品、注文履歴）-->
    <ul class="header-menu">
      <% if logged_in? %>
        <li class="header-button"><%= link_to "ホーム", root_path %></li>
        <li class="header-button"><%= link_to "ログアウト", logout_path %></li>
        <li class="header-button"><%= link_to "カート商品", root_path %></li>
        <li class="header-button"><%= link_to "注文履歴", root_path %></li>
       <% else %>
         <li class="header-button"><%= link_to "ホーム", root_path %></li>
         <li class="header-button"><%= link_to "ログイン", login_path %></li>
         <li class="header-button"><%= link_to "カート商品", root_path %></li>
         <li class="header-button"><%= link_to "注文履歴", root_path %></li>
       <% end %>
    </ul>

  </div>
</header>
