<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | 発達サポートnavi - 障害児向けの知育玩具・ツール通販サイト</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <!-- 最上部バー -->
    <%= render 'layouts/header' %>

    <!-- メイン -->
    <main class="main-container">
      <%= yield %> <!-- 各コントローラーのhtml.erbのテンプレートを挿入する -->
    </main>

    <!-- フッター -->
    <%= render 'layouts/footer' %>

  </body>
</html>
